<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your IWF Challenge Has Been Sent</title>
</head>
<body style="font-family: sans-serif; padding: 20px; color: #333;">
    <h1 style="color: #a00;">Challenge Sent!</h1>
    <p>Hello {{ challenger_name }},</p>
    <p>
        Your challenge to <strong>{{ defender_name }}</strong> for {{ wager_amount }} Gold has been sent successfully.
    </p>
    <p>
        You will be notified when they respond. You can check the status of your pending challenges in the <a href="https://iwf-wrestling.com/challenge/manage" style="color: #a00; text-decoration: none; font-weight: bold;">Challenge Center</a>.
    </p>
    <p>Good luck!</p>
    <p><em>- The IWF Team</em></p>
</body>
</html>